*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -200px;
    transition: 0.5s;
}

.calcExibir{
    left: 0 !important;
}

.calcPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #888;
    border: 3px solid #bbb;
    width: 200px;
    border-radius: 10px;
    padding: 7px;

}



.div_name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_keys{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    flex-wrap: wrap;

}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
    font-size: 18px;
}

.key:hover{
    transform: scale(1.1);
}

.operationKey{
    border-color: rgba(255, 0, 0, 0.562) !important;
    background-color: #000000b6 !important;
    color: #fff !important;
}

#div_display{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

#display{
    text-align: right;
    width: 180px;
    background-color: #aaa;
    padding: 5px;
    font-family: monospace;
    font-size: 25px;
}

.calcAba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0px 5px 5px 0px;
    cursor:pointer;
}