*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font:larger;
}

.caixa{
    border: 5px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 25px;
    width: 400px;
    height: 400px;
}

.label{
    font-size: 45px;
}

.inp{
    width: 150px;
    height: 55px;
    background-color: azure;
    border: 1px solid black;
}

.botao{
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid black;
}