*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.div_relogio{
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #444;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;

}